<form [formGroup]="loginForm">
    <h2 md-dialog-title>Project</h2>
    <md-dialog-content>

        <div>
            <md-form-field>
                <input mdInput placeholder="Your E-Mail Address" formControlName="email" autocomplete="off">
                <md-error>Required</md-error>
            </md-form-field>
        </div>
        <div>
            <md-form-field>
                <input mdInput placeholder="Your Password" formControlName="password" autocomplete="off" type="password">
                <md-error>Required</md-error>
            </md-form-field>
        </div>

    </md-dialog-content>

    <md-dialog-actions>
        <button md-button md-dialog-close>Cancel</button>
        <!-- Can optionally provide a result for the closing dialog. -->
        <button md-button color="primary">Save</button>
    </md-dialog-actions>
</form>
