@import '../../../chy-theme';

:host {
  display: flex;
  flex: 1;

  .mat-toolbar {
    background-color: $sidenav-bg;
    color: white;
    box-shadow: none;
  }

  .mat-nav-list {
    padding-top: 0;
  }

  .mat-nav-list .mat-list-item {
    color: $sidenav-text;
  }

  .mat-nav-list .mat-list-item.active {
    background-color: $subsidenav-bg;
    color: mat-color($primary);
  }

  .mat-sidenav {
    background-color: $sidenav-bg;
  }

  .mat-sidenav-container {
    width: 100%;
  }
}