@import '../../../chy-theme';

:host {
  display: flex;
  flex: 1;

  .mat-toolbar {
    background-color: $sidenav-bg;
    color: white;
    box-shadow: none;
  }

  .mat-nav-list {
    padding-top: 0;
  }

  .mat-nav-list .mat-list-item {
    color: $sidenav-text;
  }

  .mat-nav-list .mat-list-item.active {
    background-color: $subsidenav-bg;
    color: mat-color($primary);
  }

  .mat-sidenav {
    background-color: $sidenav-bg;

    .sidenav-label {
      white-space: nowrap;
      transition: opacity 400ms;
    }
  }

  .mat-sidenav-container {
    width: 100%;
  }

  .version-container {
    color: mat-color($primary);
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,  0)
  }
}