@import '../../../chy-theme';

:host {
  .bar-chart {
    height: 600px;

    /deep/ svg {
      .bar {
        transition: fill 400ms;
        fill: mat-color($primary);
      }
      .highlight {
        transition: fill 400ms;
        fill: mat-color($accent);
        cursor: pointer;
      }

      .tooltip {
        background-color: $sidenav-bg;
        color: $sidenav-text;
        padding: 1em;
      }

      text {
        fill: $sidenav-bg;
      }
    }
  }
}