<h1 md-dialog-title color="primary">{{selectedDate | date:'MMMM yyyy' }}</h1>
<div md-dialog-content>
    <div class="picker">
        <button md-button (click)="nextMonth()">
            <md-icon>keyboard_arrow_up</md-icon>
        </button>
        <md-input-container type="month" dividerColor="accent">
            <input mdInput readonly [ngModel]="selectedDate | date:'MM.'"/>
        </md-input-container>
        <button md-button (click)="previousMonth()">
            <md-icon>keyboard_arrow_down</md-icon>
        </button>
    </div>

    <div class="picker">
        <button md-button (click)="nextYear()">
            <md-icon>keyboard_arrow_up</md-icon>
        </button>
        <md-input-container dividerColor="accent">
            <input readonly mdInput [ngModel]="selectedDate | date:'yyyy'"/>
        </md-input-container>
        <button md-button (click)="previousYear()">
            <md-icon>keyboard_arrow_down</md-icon>
        </button>
    </div>
</div>
<div md-dialog-actions>
    <button md-button color="accent" (click)="dialogRef.close(selectedDate)">OK</button>
</div>