:host {

  .mat-form-field {
    width: auto;
  }

  .mat-dialog-content {
    display: flex;
    max-width:250px;
  }

  .picker {
    flex: 1;

    .mat-button {
      width: 100%;
      text-align: center;
    }

    .mat-input-element {
      text-align: center;
    }
  }
}