<form [formGroup]="projectForm">
    <h2 mat-dialog-title>Project</h2>
    <mat-dialog-content>

        <mat-form-field>
            <input matInput placeholder="Number" formControlName="number" autocomplete="off">
            <mat-error>Required</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" autocomplete="off">
            <mat-error>Required</mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- Can optionally provide a result for the closing dialog. -->
        <button mat-button color="primary" (click)="saveProject()">Save</button>
    </mat-dialog-actions>
</form>