<form [formGroup]="projectForm">
    <h2 md-dialog-title>Project</h2>
    <md-dialog-content>

        <md-form-field>
            <input mdInput placeholder="Number" formControlName="number" autocomplete="off">
            <md-error>Required</md-error>
        </md-form-field>

        <md-form-field>
            <input mdInput placeholder="Name" formControlName="name" autocomplete="off">
            <md-error>Required</md-error>
        </md-form-field>

    </md-dialog-content>

    <md-dialog-actions>
        <button md-button md-dialog-close>Cancel</button>
        <!-- Can optionally provide a result for the closing dialog. -->
        <button md-button color="primary" (click)="saveProject()">Save</button>
    </md-dialog-actions>
</form>