<md-toolbar color="primary" class="appbar">
    <span>Work Time Calculator</span>
    <span class="fill-remaining-space"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <md-icon>account_circle</md-icon>
            <span>Login</span>
        </button>
        <button md-menu-item>
            <md-icon>settings</md-icon>
            <span>Settings</span>
        </button>
    </md-menu>

    <md-toolbar-row>
        <button md-button [mdMenuTriggerFor]="selectMode">{{selectedMode.name}}</button>
        <md-menu #selectMode="mdMenu">
            <button md-menu-item *ngFor="let mode of modes" (click)="selectedMode = mode">
                {{mode.name}}
            </button>
        </md-menu>

        <nav md-tab-nav-bar>
            <a md-tab-link>
                Times
            </a>
            <a md-tab-link>
                Summary
            </a>
        </nav>
    </md-toolbar-row>
</md-toolbar>