<md-toolbar color="primary" class="appbar">
    <span>Work Time Calculator</span>
    <span class="fill-remaining-space"></span>
    <button md-button (click)="SetActiveDateToToday()">
        Today
    </button>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item>
            <md-icon>account_circle</md-icon>
            <span>Login</span>
        </button>
        <button md-menu-item>
            <md-icon>settings</md-icon>
            <span>Settings</span>
        </button>
    </md-menu>
</md-toolbar>