@import '../../../chy-theme';

// position loading-bar on top of a parent element
.top-loader {
  position: absolute;
  top: 0;
  right: 0;
}

.comments-list {

  .mat-list-item {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1)
  }

  .mat-form-field {
    display: block;
    width: 100%
  }
}

.mat-accordion {

  .mat-expansion-panel-header-title,
  .mat-expansion-panel-header-description {
    flex-basis: 0;
  }

  .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-panel-header-title {
    color: mat-color($primary);
  }
}

.language-select {
  max-width: 100px;
}

.account-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
