<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading" class="top-loader"></mat-progress-bar>
    Settings
</mat-toolbar>

<div class="inner-sidenav-content">
    <mat-list class="comments-list">
        <h3 md-subheader>Predefined Comments (max. 5)</h3>
        <mat-list-item *ngFor="let comment of commentsService.dataChange| async" chyMaterialActive>
            <mat-form-field floatPlaceholder="never">
                <input matInput placeholder="Comment" [(ngModel)]="comment.comment" (blur)="updateComment(comment)"
                       (keyup.enter)="updateComment(comment)" autocomplete="off"/>
            </mat-form-field>
            <button mat-icon-button (click)="deleteComment(comment)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-list-item>
        <mat-list-item chyMaterialActive *ngIf="commentsService.data?.length < 5">
            <mat-form-field floatPlaceholder="never">
                <input matInput placeholder="New Comment" [(ngModel)]="newComment.comment"
                       (blur)="createComment()"
                       (keyup.enter)="createComment()" autocomplete="off"/>
            </mat-form-field>
        </mat-list-item>
    </mat-list>

    <div class="dange-zoner">
        <h2>Account</h2>
        <button mat-button color="warn" (click)="deleteAccount()">Delete my account</button>
        <mat-error *ngIf="accountDeletFailed ">Error while deleting account.</mat-error>
    </div>
</div>
