// position loading-bar on top of a parent element
.top-loader {
  position: absolute;
  top: 0;
  right: 0;
}

.comments-list {

  .mat-list-item {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1)
  }

  .mat-form-field {
    display: block;
    width: 100%
  }
}