<md-toolbar color="primary" class="mat-elevation-z8">
    <md-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading" class="top-loader"></md-progress-bar>
    Settings
</md-toolbar>

<div class="inner-sidenav-content">
    <md-list class="comments-list">
        <h3 md-subheader>Predefined Comments (max. 5)</h3>
        <md-list-item *ngFor="let comment of commentsService.dataChange| async" chyMaterialActive>
            <md-form-field floatPlaceholder="never">
                <input mdInput placeholder="Comment" [(ngModel)]="comment.comment" (blur)="updateComment(comment)"
                       (keyup.enter)="updateComment(comment)" autocomplete="off"/>
            </md-form-field>
            <button md-icon-button (click)="deleteComment(comment)">
                <md-icon>close</md-icon>
            </button>
        </md-list-item>
        <md-list-item chyMaterialActive *ngIf="commentsService.data?.length < 5">
            <md-form-field floatPlaceholder="never">
                <input mdInput placeholder="New Comment" [(ngModel)]="newComment.comment" (blur)="createComment()"
                       (keyup.enter)="createComment()" autocomplete="off"/>
            </md-form-field>
        </md-list-item>
    </md-list>

    <div class="dange-zoner">
        <h2>Account</h2>
        <button md-button color="warn" (click)="deleteAccount()">Delete my account</button>
        <md-error *ngIf="accountDeletFailed ">Error while deleting account.</md-error>
    </div>
</div>
