:host {
  .title-container {
    display: flex;

    .title {
      display: inline-block;
    }
  }

  .container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .wtc-work-card {
      flex-grow: 1;
    }
  }
}