<md-card>
    <md-card-header>
        <md-card-title>
            <md-input-container>
                <input mdInput placeholder="Project" [mdAutocomplete]="project" [(ngModel)]="work.projectName" [formControl]="projectCtrl">
            </md-input-container>
            <md-autocomplete #project [displayWith]="displayFn">
                <md-option *ngFor="let project of filteredProjects" [value]="project.name">
                    {{ project.name }}
                </md-option>
            </md-autocomplete>
        </md-card-title>

        <span class="fill-remaining-space"></span>
        <button md-icon-button (click)="deleteWork()" color="warn">
            <md-icon>clear</md-icon>
        </button>
    </md-card-header>
    <md-card-content>
        <div class="flex-row">
            <md-input-container>
                <input mdInput placeholder="From" [(ngModel)]="work.from" (blur)="work.setSpent()">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="To" [(ngModel)]="work.to" (blur)="work.setSpent()">
            </md-input-container>
        </div>
        <!--<div class="flex-row">-->
        <!--<md-input-container>-->
        <!--<input mdInput placeholder="Pause" [(ngModel)]="work.pause" (blur)="work.setSpent()">-->
        <!--</md-input-container>-->
        <!--<md-input-container>-->
        <!--<input mdInput placeholder="Spent" [(ngModel)]="work.spent" readonly>-->
        <!--</md-input-container>-->
        <!--</div>-->

        <md-input-container class="comment">
            <input mdInput placeholder="Comment" [(ngModel)]="work.comment">
        </md-input-container>

    </md-card-content>
    <md-card-footer>
        <div class="spent">
            <span>{{work.spent}}</span>
        </div>
    </md-card-footer>
</md-card>