<md-card>
    <form [formGroup]="workForm">
        <md-card-content>
            <md-input-container class="project">
                <input mdInput placeholder="Project" formControlName="project"
                       [mdAutocomplete]="auto">
                <md-error>Required</md-error>
            </md-input-container>
            <md-autocomplete #auto>
                <md-option *ngFor="let project of filteredProjects | async" [value]="project.name">
                    <span>{{ project.name }} | {{ project.id }} </span>
                </md-option>
            </md-autocomplete>
            <button md-icon-button class="delete-button" (click)="deleteWork()">
                <md-icon>clear</md-icon>
            </button>

            <div class="flex-row">
                <md-input-container>
                    <input mdInput placeholder="From" formControlName="from">
                    <md-error>Required format: hh:mm</md-error>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="To" formControlName="to">
                    <md-error>Required format: hh:mm</md-error>
                </md-input-container>
            </div>

            <md-input-container class="comment">
                <input mdInput placeholder="Comment" formControlName="comment">
            </md-input-container>

        </md-card-content>
        <md-card-footer>
            <div class="spent">
                {{work.spent}}
            </div>
        </md-card-footer>
    </form>
</md-card>