<form [formGroup]="forgotPasswordForm">
  <h2 mat-dialog-title i18n="Reset PW Header@@resetPasswordHeader">Reset your password</h2>
  <mat-dialog-content>
    <p i18n="Reset PWI nstructions@@resetPasswordInstructions">We have sent you a verification code per E-Mail.</p>
    <p i18n="Reset Password Enter verification code@@resetPasswordEnterCode">Please enter this code:</p>

    <div>
      <mat-form-field>
        <input matInput i18n-placeholder="Reset Password Verification Placeholder@@resetPasswordVerificationPlaceholder"
               placeholder="Verification Code"
               formControlName="code" autocomplete="off">
        <mat-error i18n="Reset Password Required Error@@resetPasswordRequiredError">Required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput i18n-placeholder="Reset Password New Password Placeholder@@resetPasswordNewPasswordPlaceholder"
               placeholder="New Password"
               type="password" formControlName="password"
               autocomplete="off">
        <mat-error *ngIf="getPasswordErrorState == 1" i18n="@@passwordValidatorRequired">Required</mat-error>
        <mat-error *ngIf="getPasswordErrorState == 2" i18n="@@passwordValidatorOneNumber">One number is required</mat-error>
        <mat-error *ngIf="getPasswordErrorState == 3" i18n="@@passwordValidatorOneUpper">One upper letter is required</mat-error>
        <mat-error *ngIf="getPasswordErrorState == 4" i18n="@@passwordValidatorOneLower">One lower letter is required</mat-error>
        <mat-error *ngIf="getPasswordErrorState == 5" i18n="@@passwordValidatorMinimum8Chars">Minimum 8 characters are required</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Repeat Password" type="password" formControlName="repeatPassword"
               autocomplete="off">
        <mat-error *ngIf="!isPasswordMismatch" i18n="Reset Password Required Error@@resetPasswordRequiredError">Required</mat-error>
        <mat-error *ngIf="isPasswordMismatch" i18n="Reset Password No match@@resetPasswordNoMatch">Password does not match</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close i18n="Reset Password Cancel Button@@resetPasswordCancel">Cancel</button>
    <span class="fill-remaining-space"></span>
    <button mat-button color="primary" (click)="resetPassword()">
      <ng-container i18n="Reset Password Reset Button@@resetPasswordResetBtn">Reset my Password!</ng-container>
    </button>
  </mat-dialog-actions>
</form>
