<form [formGroup]="forgotPasswordForm">
    <h2 mat-dialog-title>Reset your password</h2>
    <mat-dialog-content>
        <p>We have sent you a verification code per E-Mail.<br>Please enter this code:</p>

        <div>
            <mat-form-field>
                <input matInput placeholder="Verification Code" formControlName="code" autocomplete="off">
                <mat-error>Required</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="New Password" type="password" formControlName="password"
                       autocomplete="off">
                <mat-error>{{getPasswordErrorMessage}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Repeat Password" type="password" formControlName="repeatPassword"
                       autocomplete="off">
                <mat-error *ngIf="!isPasswordMismatch">Required</mat-error>
                <mat-error *ngIf="isPasswordMismatch">Password does not match</mat-error>
            </mat-form-field>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <span class="fill-remaining-space"></span>
        <button mat-button color="primary" (click)="resetPassword()">Reset my Password!</button>
    </mat-dialog-actions>
</form>