:host {

  .table-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    font-size: 20px;

    .mat-form-field {
      width: 100%;
    }
  }

  .mat-table {
    overflow: auto;

    .action {
      flex: .1;
    }
  }
}