@import '../../../chy-theme';

// position loading-bar on top of a parent element
.top-loader {
  position: absolute;
  top: 0;
  right: 0;
}

.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: 20px;

  .mat-form-field {
    width: 100%;
  }

  .mat-checkbox {
    padding-left: 1rem;
  }

  ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    font-size: initial;
  }
}

.mat-header-row {
  display: flex !important;
}

.mat-table {
  overflow: auto;

  .action {
    flex: .1;
  }
}

.inactive {
  color: mat-color($accent);
}
