<md-toolbar color="primary" class="mat-elevation-z8">
    Projects
    <span class="fill-remaining-space"></span>

    <span class="btn-floating">
        <button md-fab (click)="openProjectDialog()">
            <md-icon>add</md-icon>
        </button>
    </span>
</md-toolbar>

<div class="inner-sidenav-content">

    <div class="mat-elevation-z5">
        <div class="table-header">
            <md-input-container floatPlaceholder="never">
                <input mdInput #filter placeholder="Filter projects">
            </md-input-container>
        </div>

        <md-table #table [dataSource]="dataSource">
            <!-- Project number column -->
            <ng-container cdkColumnDef="projectNumber">
                <md-header-cell *cdkHeaderCellDef>Project Number</md-header-cell>
                <md-cell *cdkCellDef="let row" fxLayout="row">
                    <div fxHide.gt-sm fxFlex="50">Project Number</div>
                    <div>{{row.number}}</div>
                </md-cell>
            </ng-container>

            <!-- Project name column -->
            <ng-container cdkColumnDef="projectName">
                <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
                <md-cell *cdkCellDef="let row" fxLayout="row">
                    <div fxHide.gt-sm fxFlex="50">Name</div>
                    <div>{{row.name}}</div>
                </md-cell>
            </ng-container>

            <!-- Edit Button -->
            <ng-container cdkColumnDef="edit">
                <md-header-cell *cdkHeaderCellDef class="action"></md-header-cell>
                <md-cell *cdkCellDef="let row" class="action" fxHide.xs fxHide.sm>
                    <button md-icon-button (click)="openProjectDialog(row)">
                        <md-icon>edit</md-icon>
                    </button>
                </md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns" fxHide.xs fxHide.sm></md-header-row>
            <md-row class="mobile-pointer" *cdkRowDef="let row; columns: displayedColumns;" (click)="openMobileProjectDialog()"></md-row>
        </md-table>
    </div>

</div>
