<md-toolbar color="primary">
    Projects
    <span class="fill-remaining-space"></span>
    <button md-button (click)="openProjectDialog()">
        <md-icon>add</md-icon>
    </button>
</md-toolbar>

<div class="inner-sidenav-content">

    <div class="example-container mat-elevation-z5">
        <div class="table-header">
            <md-input-container floatPlaceholder="never">
                <input mdInput #filter placeholder="Filter projects">
            </md-input-container>
        </div>

        <md-table #table [dataSource]="dataSource">
            <!-- ID column -->
            <ng-container cdkColumnDef="id">
                <md-header-cell *cdkHeaderCellDef>ID</md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.id}}</md-cell>
            </ng-container>

            <!-- Project number column -->
            <ng-container cdkColumnDef="number">
                <md-header-cell *cdkHeaderCellDef>Number</md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.number}}</md-cell>
            </ng-container>

            <!-- Project name column -->
            <ng-container cdkColumnDef="name">
                <md-header-cell *cdkHeaderCellDef>Name</md-header-cell>
                <md-cell *cdkCellDef="let row">{{row.name}}</md-cell>
            </ng-container>

            <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
            <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
    </div>

</div>
