<md-grid-list cols="1" rowHeight="calc(100%/5)">
    <md-grid-tile>
            Montag
        <small>Projects: 5   Hours: 8.5</small>
    </md-grid-tile>
    <md-grid-tile>
            Dienstag<br>
        <small>Projects: 5   Hours: 8.5</small>
    </md-grid-tile>
    <md-grid-tile>
            Mittwoch<br>
        <small>Projects: 5   Hours: 8.5</small>
    </md-grid-tile>
    <md-grid-tile>
            Donnerstag<br>
        <small>Projects: 5   Hours: 8.5</small>
    </md-grid-tile>
    <md-grid-tile>
            Freitag<br>
        <small>Projects: 5   Hours: 8.5</small>
    </md-grid-tile>
</md-grid-list>