@import '../../../wtc-theme';

:host {
  #btnMonthYear {
    width: 100%;
  }

  .mat-list {
    padding-top: 0;
  }

  .mat-nav-list .mat-list-item {
    transition: color 0.3s;
    color: $sidenav-text;
  }

  .mat-list-item.active {
    color: mat-color($primary);
  }
}