@import '../../../chy-theme';

:host {

  .mat-toolbar {
    background-color: $subsidenav-bg;
    box-shadow: none;
  }

  #btnMonthYear {
    width: 100%;
  }

  .mat-nav-list {
    padding-top: 0;

    .mat-list-item {
      transition: color 0.3s;
      color: $sidenav-text;
    }
    .mat-list-item.active {
      color: mat-color($primary);
    }
  }
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $sidenav-bg;
  border-radius: 3px;
}
