@import '../../../wtc-theme';

:host {
  #btnMonthYear {
    width: 100%;
  }

  .mat-list {
    padding-top: 0;
  }

  .mat-list-item {
    transition: color 0.3s;
  }

  .mat-list-item.active {
    color: mat-color($accent);
  }
}