<form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="E-MAIL" formControlName="email" autocomplete="off">
                <mat-error *ngIf="email.invalid">
                    {{ emailErrorMessage }}
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="PASSWORD" formControlName="password" autocomplete="off"
                       type="password">
                <mat-error>Required</mat-error>
            </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="accent">Login</button>
            <button mat-button color="warn" type="button" class="forgot-button" *ngIf="didLoginFail"
                    (click)="forgotPassword()">Forgot
                Password?
            </button>
        </mat-card-actions>
    </mat-card>
</form>
