<form [formGroup]="loginForm">
    <md-card>
        <md-card-header>
            <md-card-title>Login</md-card-title>
        </md-card-header>
        <md-card-content>
            <md-form-field>
                <input mdInput placeholder="E-MAIL" formControlName="email" autocomplete="off">
                <md-error *ngIf="email.invalid">
                    {{ emailErrorMessage }}
                </md-error>
            </md-form-field>
            <md-form-field>
                <input mdInput placeholder="PASSWORD" formControlName="password" autocomplete="off"
                       type="password">
                <md-error>Required</md-error>
            </md-form-field>
        </md-card-content>

        <md-card-actions>
            <button md-raised-button color="accent">Login</button>
        </md-card-actions>
    </md-card>
</form>
