/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  font-family: 'Roboto', 'Segoe UI', Calibri, Arial, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.fill-remaining-space {
  flex: 1 1 auto;
}