<md-toolbar color="primary" class="mat-elevation-z8">
    Dashboard
</md-toolbar>

<div class="inner-sidenav-content">
    <h2>
        Today's date:
        <a md-button routerLink="{{todaysLink}}"><h2 class="inline-h2">{{ todaysDate | date:'dd. MMMM yyyy' }}</h2></a>
    </h2>

    <md-card class="chart-card">
        <md-card-header>
            <md-card-title>{{ todaysDate | date:'MMMM' }}</md-card-title>
        </md-card-header>
        <md-card-content>
            <chy-working-hours-chart [data]="chartData"></chy-working-hours-chart>
        </md-card-content>
    </md-card>
</div>
