<mat-toolbar color="primary" class="mat-elevation-z8">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading" class="top-loader"></mat-progress-bar>
    Dashboard
</mat-toolbar>

<div class="inner-sidenav-content">
    <h2>
        Today's date:
        <button mat-button (click)="navigateToWorkingHours()">
            <h2 class="inline-h2">{{ todaysDate | date:'dd. MMMM yyyy'}}</h2>
        </button>
    </h2>

    <mat-card class="chart-card" *ngIf="chartData || async; else loading">
        <mat-card-header>
            <mat-card-title>
                <h3>
                    <button mat-icon-button (click)="previousMonth()">
                        <mat-icon>chevron_left</mat-icon>
                    </button>
                    <span class="month-button-text">
                        {{ chartMonth | date:'MMMM yyyy' }}
                    </span>
                    <button mat-icon-button (click)="nextMonth()">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </h3>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="chartData.length; else noData">
            <chy-working-hours-chart [data]="chartData"></chy-working-hours-chart>
        </mat-card-content>
    </mat-card>

    <ng-template #loading>
        <mat-progress-spinner
                color="primary"
                mode="indeterminate">
        </mat-progress-spinner>
    </ng-template>

    <ng-template #noData>
        <mat-card-content class="no-data">
            <p class="no-data-text">It's empty in this month.<br>
                Go ahead and do something!</p>
            <div fxLayout="row" fxLayout.lt-sm="column">
                <button mat-button fxFlex="50" class="no-data-action" (click)="navigateToChartMonth()">
                    <mat-icon>
                        timelapse
                    </mat-icon>
                    <p>Add working hours!</p>
                </button>
                <button mat-button fxFlex="50" class="no-data-action" (click)="navigateToProjects()">
                    <mat-icon>
                        work
                    </mat-icon>
                    <p>Add projects!</p>
                </button>
            </div>
        </mat-card-content>
    </ng-template>
</div>
