<md-sidenav-container>
    <md-sidenav #subsidenav mode="{{sidenavMode}}">
        <wtc-sidenav-daypicker (daySelected)="checkSubsidenav()"></wtc-sidenav-daypicker>
    </md-sidenav>

    <div>
        <md-toolbar color="primary" class="mat-elevation-z8">
            <button *ngIf="media.isActive('xs')" md-icon-button type="button" (click)="subsidenav.open()">
                <md-icon>today</md-icon>
            </button>
            Working Hours
            <span class="fill-remaining-space">
                <button md-button class="btn-today" (click)="SetActiveDateToToday()">
                Today
                <md-icon>
                    today
                </md-icon>
            </button>
            </span>
            <!-- span is necessary because the browser doesn't show the tooltip when the button is disabled -->
            <span class="btn-add" mdTooltip="You have an unfinished card open."
                  [mdTooltipPosition]="'left'" [mdTooltipDisabled]="!newCard">
                <button md-fab [disabled]="newCard" (click)="newWork()">
                    <md-icon>add</md-icon>
                </button>
            </span>
        </md-toolbar>
        <div class="inner-sidenav-content">

            <h2 class="title">
                {{ date | date:'dd. MMMM yyyy' }}
            </h2>

            <div class="container">
                <wtc-work-card *ngFor="let work of works" [projects]="projects" [work]="work"
                               (saveWork)="saveWork(work)" (persistNewWork)="persistNewWork(work)"
                               (deleteWork)="deleteWork(work)"></wtc-work-card>
            </div>
        </div>
    </div>
</md-sidenav-container>