<md-sidenav-container>
    <md-sidenav #subsidenav mode="{{sidenavMode}}">
        <wtc-sidenav-daypicker (daySelected)="checkSubsidenav()"></wtc-sidenav-daypicker>
    </md-sidenav>

    <div>
        <md-toolbar color="primary" class="mat-elevation-z8">
            <button *ngIf="media.isActive('xs')" md-icon-button type="button" (click)="subsidenav.open()">
                <md-icon>today</md-icon>
            </button>
            Working Hours
            <span class="fill-remaining-space"></span>
            <button md-button (click)="SetActiveDateToToday()">
                Today
            </button>
        </md-toolbar>
        <div class="inner-sidenav-content">
            <div class="title-container">
                <h2 class="title">
                    {{ date | date:'dd. MMMM yyyy' }}
                </h2>
                <span class="fill-remaining-space"></span>
                <button md-fab (click)="newWork()">
                    <md-icon>add</md-icon>
                </button>
            </div>

            <div class="container">
                <wtc-work-card *ngFor="let work of works" [work]="work"
                               (workDeleted)="removeWork(index)" (saveWork)="saveWork(work)" (deleteWork)="deleteWork(work)"></wtc-work-card>
            </div>
        </div>
    </div>
</md-sidenav-container>