@import '../../../wtc-theme';

:host {
  .mat-sidenav-container {
    height: 100vh;

    .mat-sidenav {
      min-width: 190px;
      background-color: $subsidenav-bg;
      color: $sidenav-text;
    }
  }

  .mat-toolbar {
    .btn-today {
      display: block;
      margin: 0 auto;
    }

    .btn-add {
      position: relative;
      top: 35px;
      right: 1rem;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .wtc-work-card {
      flex-grow: 1;
    }
  }
}